@import "tailwindcss";

body{
  background-color: black;
  color: white;

}

.social-media-icon-bg{
  background-color: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.social-media-icon-bg:hover{
  background-color: aqua;
}

.nav-link{
  transition: all 0.2s ease-in-out;
}
.nav-link:hover{
  color: rgb(62, 38, 197);
}

.primary-button{
  transition: all 0.2s ease-in-out;
}
.primary-button:hover{
 background-color: white;
 border: 1px solid gray;
 color: black;
 cursor: pointer;
}

.hero-bg {
  background-image: url('../public/assets/for_hero.jpg');
  height: 85vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.hero-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5); /* overlay */
  z-index: 1;
}

.offer-cart{
  height: 236px;
  width: 315px;
}
